.article{
    margin: 20px auto;
    background-color: var(--color-white);
    color: var(--color-very-dark-blue-text);
    border-radius: 8px;
    width: 320px;
    height: 410px;
    cursor: pointer;
}
.article img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 320px;
    height: 215px;
}

h2{
    font-weight: 800;
    font-size: 18px;
    padding: 20px 0;
}

.text{
    padding: 0 20px;
}

.text span{
    font-weight: 600;
    line-height: 1.8;
}