.container{
    margin: 40px auto;
    max-width: 360px;
    width: 100%;
}

.goBack{
    margin-bottom: 40px;
    max-width: 130px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--color-white);
    cursor: pointer;
}

.details img{
    display: flex;
    margin: auto;
    width: 360px;
}

article p{
    line-height: 2;
}
article span{
    font-weight: 600;
}

.secondInformation{
    padding: 30px 0;
}

h3{ font-weight: 600; padding-bottom: 20px;}

.country{
    max-width: 110px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 3px 0px;
    background-color: var(--color-white);
    margin: 5px;
}

@media (min-width: 768px){
    .container{
        max-width: 1200px;
    }
    .details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 10px;
    }
    .details img{
        display: block;
        margin: 0;
        max-width: 540px;
        width: 100%;
    }
    .column{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .secondInformation{
        padding: 0;
    }
    .informationBorders{
        display: flex;
        align-items: center;
    }
    h3{
        padding-bottom: 0;
    }
}