

@media (min-width: 768px){
    .sectionMain{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 30px;
        max-width: 1400px;
        margin: auto;
    }
}