.nav{
    max-width: 360px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

@media (min-width: 768px){
    .nav{
        max-width: 1300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}