@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;1,6..12,300&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
a{color:inherit}

:root{
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue-background: hsl(207, 26%, 17%);
  --color-very-dark-blue-text: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

body{
  background-color: var(--color-very-light-gray);
  color: var(--color-dark-blue);
}

body.dark-mode{
  background-color: var(--color-very-dark-blue-background);
  color: var(--color-white);
}

header.darkMode,
article.darkMode,
aside.darkMode,
select.darkMode{
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

select.darkMode .inputSearch{
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
